* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 16px;
    background-color: yellow;
    color: black;
    border-bottom: 4px solid black;
}

header nav li {
    display: inline;
    margin-left: 16px;
    list-style: none;
}

header nav li a {
    text-decoration: none;
    font-size: 20px;
    color: black;
}

header .container,
section .container {
    display: flex;
    justify-content: space-between;
}

.container {
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
}

.imagem-loja img {
    height: 300px;
    margin-top: 16px;
}

.sobre-a-loja {
    margin-top: 16px;
    margin-left: 8px;
}

.sobre-a-loja h2 {
    padding: 8px;
    border-bottom: 2px solid black;
}

.sobre-a-loja p {
    margin-top: 16px;
}

.produtos {
    display: grid;
    grid-template-columns: repeat(4, 24.25%);
}

.produto {
    margin: 0 auto;
    text-align: center;
}

.produto h3 {
    margin-bottom: 12px;
}

.produto button {
    padding: 6px;
    cursor: pointer;
    margin-top: 8px;
    background-color: yellow;
    font-weight: bold;
}

.produto button:hover {
    transform: scale(1.03);
}

.titulo-produto {
    margin-top: 16px;
    margin-bottom: 32px;
    border-bottom: 2px solid black;
    background-color: yellow;
    padding: 6px;
}



@media screen and (max-width: 1020px) {
    header .container,
    section .container {
        flex-direction: column; 
        align-items: center; 
    }

    .produtos {
        grid-template-columns: repeat(2, 1fr); 
    }

    .imagem-loja img {
        max-width: 100%;
        margin-top: 16px;
    }
    
}

@media screen and (max-width: 600px) {
    .produtos {
        grid-template-columns: 1fr;
    }

    header nav li {
        margin-left: 8px; 
    }

    header nav li a {
        font-size: 18px; 
    }

}